@import "../../styles/utils/utils";

header {
    // background: linear-gradient(to bottom, $baseBgColor, $baseBgColorLight1);
    background: linear-gradient(to bottom, #657fac, #657FAC);

    .bandeau {
        color: white;
        padding: 20px 0;

        .bandeau-logo {
            img {
                height: 60px;
                border-radius: 50%;
                border: 4px solid white;
                margin-right: 15px;
            }

            .bandeau-logo-titre {
                font-size: 3rem;
                
                span {
                    color: $secondaryFontColor;
                }
            }
        }

        .bandeau-titre {
            color: white;
            font-size: 3rem;
            margin: 0;

            span {
                color: $secondaryFontColor;
            }
        }
    }

    .menu {
        box-shadow: 0 3px 6px $shadow;
        background-color: $menuBgColor;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
    
        .menu-navbar {
            font-size: 1.5rem;
            padding: 0;
    
            .menu-link {
                color: $baseFontColorLight1;
                transition: all 0.4s ease-out;
                padding: 10px;
            }
    
            .menu-link-dropdown {
                color: $baseFontColorLight1;
                transition: all 0.4s ease-out;
                padding: 4px 10px;
            }
    
            .menu-link-button {
                border: 0 solid grey;
            }
    
            .menu-link:hover, .menu-link-dropdown:hover {
                color:$secondaryFontColor
            }
            
            .actif {
                color:$secondaryFontColor
            }
        }
    
        .menu-logout {
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            font-size: 1.1rem;
            color: $baseFontColorLight2;
            
            .btn-connect {
                border: 0 solid white;
            }
        }
    }    

    .bandeau-no-menu {
        color: white;
        padding: 20px 0;

        .bandeau-logo {
            .bandeau-logo-titre {
                font-size: 3rem;
                display: flex;
                align-items: center;
                
                img {
                    height: 60px;
                    border-radius: 50%;
                    border: 4px solid white;
                    margin-right: 15px;
                }

                span {
                    color: $secondaryFontColor;
                }
            }
        }
    }
}

@media screen and (max-width: 992px){
    header {
        .bandeau {
            .bandeau-logo {
                img {
                    height: 50px;
                }
    
                .bandeau-logo-titre {
                    font-size: 2.5rem;
                }
            }
    
            .bandeau-titre {
                font-size: 2.5rem;
            }
        }

        .menu {
            .menu-navbar{
                .menu-navbar-togler {
                    margin: 5px;
                }
    
                 .menu-link {
                    padding: 5px 10px;
                }
    
                .dropdown-menu {
                    margin-bottom: 5px;
                }
            }
        }

        .bandeau-no-menu {
            .bandeau-logo {
                img {
                    height: 50px;
                }
    
                .bandeau-logo-titre {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    header {
        .bandeau {
            div {
                flex-direction: column;

                .bandeau-logo {
                    flex-direction: row;
                }
            }
        }

        .bandeau-no-menu {
            div {
                flex-direction: column;

                .bandeau-logo {
                    flex-direction: row;
                }
            }
        }
    }  
}

@media screen and (max-width: 576px){
    header {
        .bandeau {
            .bandeau-logo {
                img {
                    height: 40px;
                }
    
                .bandeau-logo-titre {
                    font-size: 2.2rem;
                }
            }
    
            .bandeau-titre {
                font-size: 2.2rem;
            }
        }

        .bandeau-no-menu {
            .bandeau-logo {
                img {
                    height: 40px;
                }
    
                .bandeau-logo-titre {
                    font-size: 2.2rem;
                }
            }
        }
    } 
}