@import "../../styles/utils/utils";

.main-login {
    background-image: url("../../assets/images/background/bglogin.svg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    .login {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        width: 420px;
        padding: 60px 40px 40px;
        background-color: $baseBgMedium3;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;

        h1 {
            color: white;
            font-size: 2.5rem;
            margin: 40px 0 0;
        }

        h2 {
            color: white;
            font-size: 1.2rem;
            margin: 20px 0 0;
        }

        .login-img {
            background-image: url("../../assets/images/icones/logo-site.png");
            background-size: cover;
            background-position: center;
            background-color: $secondaryBgMedium2;
            width: 100px;
            height: 100px;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 2px solid white;
            transition: all 0.2s ease-out;

            &:hover {
                background-color: $secondaryBgMedium1;
            } 
        }

        .login-message {
            margin-top: 15px;
            padding: 5px 10px;
            font-size: 0.9rem;
            font-style: italic;
            color: white;
            border-radius: 10px;
        }

        .login-cellule {
            margin: 20px 0;

            label {
                width: 100%;

                select, input {
                    width: 100%;
                    padding: 10px 10px 10px 50px;
                    font-size: 0.9rem;
                    color: white;
                    background-color: $baseBgMedium2;
                    border: 1px solid white;
                    border-radius: 10px;
                }

                input:focus {
                    outline: none;
                    border: 1px solid $focusInputLogin;
                    box-shadow: 0 0 10px $focusInputLogin;
                }

                input::placeholder {
                    font-family: "Poppins Light", Arial, Helvetica, sans-serif;
                    color: white;
                    opacity: 1;
                    font-style: italic;
                    font-size: 0.9rem;
                }

                .logo-user {
                    background-image: url("../../assets/images/icones/input-user.png");
                    background-position: left;
                    background-repeat: no-repeat;
                }

                .logo-cadenas {
                    background-image: url("../../assets/images/icones/input-cadenas.png");
                    background-position: left;
                    background-repeat: no-repeat;
                }

                .login-cellule-message {
                    margin-top: 2px;
                    padding: 2px 10px;
                    font-size: 0.9rem;
                    font-style: italic;
                    font-weight: 600;
                    color: white;
                    border-radius: 10px;
                }
            }            
        }

        .login-forgotten{
            text-align: center;
        }

        .btn-login {
            color: white;
            width: 100%;
            font-size: 1rem;
            padding: 10px 20px;
            margin-top: 20px;
            color: white;
            background-color: $baseBgMedium1;
            border: 0px solid white;
            border-radius: 10px;
            transition: all 0.2s ease-out;
        
            &:hover {
                background-color: $secondaryBgMedium1;
            }
        }

        .login-signup {
            font-family: "Poppins Italic", Arial, Helvetica, sans-serif;
            color: white;
            font-size: 0.9rem;
            margin: 40px 0 0;
            text-align: center;
        }

        .login-link {
            font-family: "Poppins Regular", Arial, Helvetica, sans-serif;
            text-decoration: none;
            font-size: 0.9rem;
            color: white;
            text-align: center;

            img {
                width: 10px;
                margin-right: 10px;;
            }
        
            &:hover {
                color: $linkHoverLogin;
                transition: all 0.2s ease-out;
            }
        }
    }
}
