@import "../../styles/utils/utils";

.login {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 120px auto 0;
    padding: 60px 40px 40px;
    border: 1px solid $baseBgColorLight3;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $baseBgColorLight4;
    position: relative;
    display: flex;
    flex-direction: column;

    h1 {
        width: 80%;
        margin: 0;
        padding: 10px;
        color: $secondaryFontColor;
        background-color: $baseBgColorLight5;
        font-size: 2.5rem;
        border: 1px solid $baseBgColorLight3;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .relogin-img {
        width: 120px;
        margin: 0 auto;
    }

    .login-img {
        width: 120px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        color: $baseFontColorLight2;
        font-size: 1.5rem;
        margin: 40px 0 0;
    }

    .login-message {
        margin-top: 5px;
        padding: 5px 10px;
        font-size: 0.9rem;
        font-style: italic;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
    }

    .login-cellule {
        margin: 20px 0;

        label {
            width: 100%;

            select, input {
                width: 100%;
                padding: 10px 40px;
                font-size: 1rem;
                color: $baseFontColorLight1;
                background-color: $baseBgColorLight5;
                border: 1px solid $baseBgColorLight3;
                border-radius: 5px;
            }

            input::placeholder {
                color: $baseFontColorLight3;
                opacity: 1;
                font-style: italic;
                font-size: 0.9rem;
              }

            .logo-user {
                background-image: url("../../assets/images/icones/user.png");
                background-position: left;
                background-repeat: no-repeat;
            }

            .logo-cadenas {
                background-image: url("../../assets/images/icones/cadenas.png");
                background-position: left;
                background-repeat: no-repeat;
            }

            .login-cellule-message {
                padding: 0 5px;
                font-size: 0.9rem;
                font-style: italic;
            }
        }            
    }

    .btn-login {
        width: 100%;
        font-size: 1rem;
        padding: 10px 20px;
        margin-top: 20px;
        color: white;
        background-color: $secondaryBgColorLight1;
        border: 1px solid $secondaryBgColorLight1;
        border-radius: 5px;
        transition: all 0.2s ease-out;
    
        &:hover {
            color: $secondaryBgColorLight1;
            background-color: white;
        }
    }

    .link-forgotten-password {
        padding: 5px;
        font-size: 0.9rem;
        font-style: italic;
        color: $menuFontColor;
        text-decoration: none;
    
        &:hover {
            text-decoration: underline;
        }
    }

    .login-separator {
        padding: 10px;
        margin: 40px 0 0;
        border: 1px solid $baseBgColorLight4;
        background-color: $baseBgColorLight5;
        border-radius: 10px;
        text-align: center;
    }
}