@import "../../styles/utils/utils";

.main-login {
    background-image: url("../../assets/images/background/bglogin.svg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    .login {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        width: 420px;
        padding: 50px 40px 40px;
        background-color: $baseBgMedium3;
        box-shadow: 5px 5px 20px $baseFont3;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;

        h1 {
            color: white;
            font-size: 2.5rem;
        }

        .login-image {
            text-align: center;
            margin: 30px 0 10px;

            img {
                width: 160px;
            }
        }

        .login-image-new {
            text-align: center;
            margin: 30px 0 0;

            img {
                width: 180px;
            }
        }

        .login-message {
            // margin-top: 15px;
            padding: 5px 10px;
            font-size: 0.9rem;
            font-style: italic;
            text-align: center;
            color: white;
            border-radius: 10px;
        }

        .login-cellule {
            margin: 15px 0;

            label {
                width: 100%;

                select, input {
                    width: 100%;
                    padding: 10px 10px 10px 50px;
                    font-size: 0.9rem;
                    color: white;
                    background-color: $baseBgMedium2;
                    border: 1px solid white;
                    border-radius: 10px;
                }

                input:focus {
                    outline: none;
                    box-shadow: 0 0 10px $focusInputLogin;
                }

                input::placeholder {
                    font-family: "Poppins Light", Arial, Helvetica, sans-serif;
                    color: white;
                    opacity: 1;
                    font-style: italic;
                    font-size: 0.9rem;
                }

                .logo-user {
                    background-image: url("../../assets/images/icones/input-user.png");
                    background-position: left;
                    background-repeat: no-repeat;
                }

                .logo-email {
                    background-image: url("../../assets/images/icones/input-email.png");
                    background-position: left;
                    background-repeat: no-repeat;
                }

                .logo-cadenas {
                    background-image: url("../../assets/images/icones/input-cadenas.png");
                    background-position: left;
                    background-repeat: no-repeat;
                }

                .login-cellule-message {
                    font-family: "Poppins Light", Arial, Helvetica, sans-serif;
                    margin-top: 4px;
                    padding-left: 10px;
                    font-size: 0.8em;
                    color: white;
                    line-height: 1rem;

                    .login-cellule-message-link {
                        span {
                            width: 15px;
                            height: 15px;
                            margin-right: 5px;
                            border: 1px solid white;
                            text-align: center;
                            display: inline-block;
                        }
                    }

                    .message-plus {
                        // background-image: url("../../assets/images/icones/plus.png");
                        // background-position: left;
                        // background-repeat: no-repeat;
                        // padding-left: 20px;
                    }


                    img {
                        // width: 15px;
                    }
                }
            }            
        }

        .btn-login {
            color: white;
            width: 100%;
            font-size: 1rem;
            text-align: center;
            text-decoration: none;
            padding: 10px 20px;
            margin-top: 20px;
            color: white;
            background-color: $baseBgMedium1;
            border: 0px solid white;
            border-radius: 10px;
            transition: all 0.2s ease-out;
        
            &:hover {
                background-color: $secondaryBgMedium1;
            }
        }

        .login-forgotten {
            text-align: center;

            a {
                font-family: "Poppins Regular", Arial, Helvetica, sans-serif;
                color: white;
                font-size: 0.9rem;
                text-decoration: none;

                img {
                    width: 10px;
                    margin-right: 10px;;
                }

                &:hover {
                    color: $linkHoverLogin;  
                }  
            }
        }

        .login-back {
            margin: 10px 0 0;
            text-align: center;

            a {
                font-family: "Poppins", Arial, Helvetica, sans-serif;
                color: white;
                font-size: 1rem;
                text-decoration: none;

                &:hover {
                    color: $linkHoverLogin;
                }
            }
        }

        .login-signup {
            font-family: "Poppins Regular", Arial, Helvetica, sans-serif;
            color: white;
            font-size: 0.9rem;            
            text-align: center;
            margin-top: 10px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid $baseBgLight2;

            a {
                color: white;
                text-decoration: none;

                img {
                    width: 10px;
                    margin-right: 10px;;
                }

                &:hover {
                    color: $linkHoverLogin;  
                }  
            }
        }


        .login-info {
            font-family: "Poppins Regular", Arial, Helvetica, sans-serif;
            font-size: 1rem;
            color: white;
            text-align: justify;
            background-color: $baseBgMedium2;
            border: 1px solid $baseBgLight2;
            margin: 20px 0 10px;
            padding: 15px;
            border-radius: 10px;
            
            p {
                margin: 0;
            }

            .email {
                color: $baseFont5;
                font-size: 1.1rem;
                margin: 20px 0;
                text-align: center;
                overflow-wrap: break-word;
            }

            .note {
                font-size: 0.9rem;
                font-style: italic;
                text-align: center;

                img {
                    // width: 10px;
                    margin-right: 10px;;
                }
            }
        }

        .login-spinner {
            text-align: center;
            padding: 50px 0 25px;

            div:after {
                background: white;
            }
        }

        .login-spinner-absolute {
            padding: 30px;
            border-radius: 20px;
            opacity: 1;
            background-color: #657fac40;
            backdrop-filter: blur(5px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            div:after {
                background: white;
            }
        }    
    }
}
