// COULEURS : BACKGROUND
$baseColor: #313146;
$baseColorLight1: #5b5b86;
$baseColorLight1: #9191A8;
$baseColorLight1: #C7C7D8;

$secondaryColor: #e0650d;
$secondaryLight: #e0650d;

$orange: #e0650d;
$blue: #313146;
$lightblue: #5b5b86;

// COULEURS : TEXTES
$orange: #e0650d;
$blue: #313146;
$lightblue: #5b5b86;


// COULEUR : OMBRES
$shadow: grey;

// MENU
$menuBgColor: #f1f1f1;




// BODY

$color: #222355;

// TITRES

$sous-titre-color: red;

// BOUTONS PRESENTATION

$btn-pres-color: white;
$btn-pres-bg: #22234f;
$btn-pres-bg-hover: #d9e2f7;

// BOUTONS GALERIE

$btn-gal-color: #22234f;
$btn-gal-bg: #f7f9ff;
$btn-gal-bg-hover: #d9e2f7;

// SECTIONS

$section-bg: #eaf0ff;
$footer-bg: #22234f;
$boxShadow: 0px 3px 3px rgb(232, 231, 231);