@import "../../styles/utils/utils";

.error {
    margin: 100px auto 0;
    text-align: center;
    color: #566e97;

    .parag {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        font-style: italic;
    }

    .error-message {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        display: inline-block;
        font-size: 1.2rem;
        background-color: $secondaryBgColorLight2;
        color: white;
        border-radius: 10px;
        padding: 20px 40px;
    }

    h1 {
        margin: 30px 0;
        color: $secondaryFontColor;
        font-size: 3rem;
    }

    img {
        height: 20vw;
    }

    // .btn {
    //     font-size: 1.5rem;;
    // }
}
