// COULEURS : BACKGROUND
$baseBgColor: #313146;
$baseBgColorLight1: #5b5b86;
$baseBgColorLight2: #9191A8;
$baseBgColorLight3: #C7C7D8;
$baseBgColorLight4: #dedee7;
$baseBgColorLight5: #f3f3f8;

$secondaryBgColor: #e0650d;
$secondaryBgColorLight1: #cf6b23;
$secondaryBgColorLight2: #f08d47;

// COULEURS : TEXTES
$baseFontColor: #313146;
$baseFontColorLight1: #414164;
$baseFontColorLight2: #5b5b86;
$baseFontColorLight3: #7f7fa3;

$secondaryFontColor: #e0650d;

// COULEUR : OMBRES
$shadow: #a3b9dd;

// COULEURS : MENU
$menuBgColor: #f1f1f1;
$menuBtnFontColor: white;
$menuBtnFontColor2: #3e64c4;
$menuBtnBgColor: #3e64c4;
$menuBtnBgColorLight: #d0d9f0;
$menuBtnBorderColor: #3e64c4;
$menuFontColor: #3e64c4;












// $color: #222355;

// $sous-titre-color: red;

// $btn-pres-color: white;
// $btn-pres-bg: #22234f;
// $btn-pres-bg-hover: #d9e2f7;

// $btn-gal-color: #22234f;
// $btn-gal-bg: #f7f9ff;
// $btn-gal-bg-hover: #d9e2f7;

// $section-bg: #eaf0ff;
// $footer-bg: #22234f;
// $boxShadow: 0px 3px 3px rgb(232, 231, 231);