// COULEURS GENERALES : BACKGROUND
$baseBgDark1: #334e80;
$baseBgDark2: #435f92;
$baseBgMedium1: #657FAC;
$baseBgMedium2: #7a93bf;
$baseBgMedium3: #8DA4CD;
$baseBgLight1: #b8c7e2;
$baseBgLight2: #d8e1f1;
$baseBgLight3: #f1f5fa;
$secondaryBgMedium1: #D4623F;
$secondaryBgMedium2: #EB7C5A;

// COULEURS GENERALES : TEXTES

$baseFontDark1: #172a47;
$baseFontDark2: #496189;
$baseFont1: #566d95;
$baseFont2: #657fac;
$baseFont3: #839BC4;
$baseFont4: #a4b7d7;
$baseFont5: #d1fbff;
$secondaryFont1: #d4623f;
$secondaryFont2: #EB7C5A;
$secondaryFont3: #f9ded5;
$error1: #e62d2d;

// COULEURS : FORMULAIRES LOGIN

$focusInputLogin: #dfe8f6;
$linkHoverLogin: #FFBF9B;

// COULEUR : OMBRES
$shadow1: #8DA4CD;
$shadow2: #324e80;
$shadow3: #748ab4;