/////////////////////////////////////////////////////////////
/// BOUTON CONFIRMATION ET LIEN ANNULER (OU RETOUR)
/////////////////////////////////////////////////////////////

.btn-confirm {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 5px 20px;
    color: white;
    background-color: $secondaryBgMedium2;
    border: 0px solid $secondaryBgMedium1;
    border-radius: 5px;
    transition: all 0.2s ease-out;

    &:hover {
        background-color: $secondaryBgMedium1;
    }
}

.btn-confirm-no {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: $secondaryFont1;
    background-color: white;
    border: 0 solid $secondaryFont1;
    text-decoration: none;

    &:hover {
        color: $secondaryFont1;
        text-decoration: underline;
    }
}
