@font-face {
    font-family: "Boogaloo";
    src: url(../../../assets/fonts/boogaloo/Boogaloo-Regular.ttf);
}

@font-face {
    font-family: "InHouseEdition";
    src: url(../../../assets/fonts/in-house-edition/inhouseedition3d.ttf);
}
