@import "../../../styles/utils/utils";

body {
    font-family: "Boogaloo", Arial, Helvetica, sans-serif;
    background-color: $baseBgColor;
    color: $baseFontColor;
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 100px;
    animation: fadein 1s;
    background-color: white;
}

@keyframes fadein {
    0% {
        opacity:0.7;
    }
    100% {
        opacity:1;
    }
}


h1, h2, h3 {
    margin: 20px 0 20px;
    text-align: center;
    font-family: "Boogaloo", Arial, Helvetica, sans-serif;
    // font-size: 3rem;
}

// h1 {
//     color: #e0650d;
// }

// h2 {
//     margin: 40px 0;
//     color: #e0650d;
// }

// h3 {
//     margin: 20px 0;
//     text-align: center;
//     font-size: 2rem;
//     color: #e0650d;
// }

.btn {
    font-size: 1.8rem;
    padding: 5px 20px;
    margin: 20px 0;
    color: white;
    background-color: $secondaryBgColorLight1;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.2s ease-out;

    &:hover {
        color: $secondaryBgColorLight1;
        background-color: white;
    }
}