@import "../../../styles/utils/utils";

.home-type {
    background-image: url("../../../assets/images/background/bg.svg");
    background-size: cover;
    background-position: top;
    padding-bottom: 80px;

    h2 {
        font-family: "Boogaloo", Arial, Helvetica, sans-serif;
        margin-bottom: 40px;
        color: $secondaryFont2;
        font-size: 3rem;
    }

    .type-section {
        padding: 20px;
        margin-bottom: 10px;
        transition: all 0.4s ease-out;
        cursor: pointer;
        
        .section-all {
            box-shadow: 5px 5px 10px $shadow2;
            display: flex;
            flex-direction: row;

            .type-section-left {
                padding: 20px;
                width: 50%;
                background: linear-gradient(to right, $baseBgDark1, $baseBgDark2);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all 0.5s ease-out;
                
                h3 {
                    color: white;
                    font-size: 1.8rem;
                }
            }

            .type-section-right {
                width: 50%;
                height: 200px;
                background-size: cover;
                background-position: center;
            }
        }

        &:hover {
            transform: scale(1.03);

            .type-section-left {
                background: linear-gradient(to left, $baseBgDark1, $baseBgDark2);
            }
        }
    }
}