@import "../../../styles/utils/utils";

.search-titre {
    margin: 60px 0 40px;
    height: 60px;;

    h1 {
        color: $secondaryFont2;
    }
}

.search {
    background-image: url("../../../assets/images/background/bg.svg");
    background-size: cover;
    background-position: top;
    padding-bottom: 120px;
    min-height: calc(100vh - 448px);

    .search-no-result {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        color: $baseFontDark2;
        font-size: 1.2rem;
        text-align: center;
        width: 450px;
        margin: 100px auto 0;
        padding: 30px;
        border: 1px solid $baseBgLight1;
        border-radius: 10px;
        background-color: white;
        box-shadow: 5px 5px 10px $shadow1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-box {
        padding: 20px;
        background-color: transparent;
        height: 400px;
        perspective: 1000px;
        transition: all 0.5s ease-out;

        .search-box-inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.8s;
            box-shadow: 5px 5px 10px $shadow2;
            transform-style: preserve-3d;

            .search-box-recto, .search-box-verso {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                background-size: auto 100%;
                background-position: center;
                border: 5px solid white;
                color: white;
            }

            .search-box-recto {
                padding: 20px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: end;
                transition: all 0.5s ease-out;
                
                h2 {
                    font-family: "InHouseEdition", Arial, Helvetica, sans-serif;
                    font-size: 4rem;
                    padding: 0 40px;
                    border-radius: 20px;
                    -webkit-backdrop-filter: blur(30px); /* assure la compatibilité avec safari */
                    backdrop-filter: blur(30px);
                    display: inline-block;
                }

                &:hover {
                    background-size: auto 110%;
                }
            }
                    
            .search-box-verso {
                padding: 0;
                font-size: 1.8rem;
                transform: rotateY(180deg);
                
                .search-box-verso-filter {
                    background-image: linear-gradient(to bottom, #334e80ff, #435f9299);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        font-family: "Boogaloo", Arial, Helvetica, sans-serif;
                        font-size: 3rem;
                        margin-bottom: 40px;
                    }                
                    
                    p {
                        font-family: "Poppins", Arial, Helvetica, sans-serif;
                        margin: 0;
                    }

                    .btn-fiche {
                        font-family: "Poppins", Arial, Helvetica, sans-serif;
                        font-size: 1.2rem;
                        color: white;
                        padding: 10px 20px;
                        margin-top: 40px;
                        color: white;
                        background-color: $secondaryFont2;
                        border: 1px solid white;
                        border-radius: 10px;
                        transition: all 0.2s ease-out;
                    
                        &:hover {
                            background-color: $secondaryFont1;
                            color: white;
                        }
                    }
                }
            }
        }

        &:hover {
            .search-box-inner {
                transform: rotateY(180deg);
            }
        }
    }
}





    
    
