@import "../../styles/utils/utils";

header {
    background: linear-gradient(to bottom, $baseBgColor, $baseBgColorLight1);

    .bandeau {
        color: white;
        padding: 20px 0;

        .bandeau-logo {
            img {
                height: 60px;
                border-radius: 50%;
                border: 4px solid white;
                margin-right: 15px;
            }

            .bandeau-logo-titre {
                font-size: 3rem;
                
                span {
                    color: $secondaryFontColor;
                }
            }
        }
    }
}

@media screen and (max-width: 992px){
    header {
        .bandeau {
            .bandeau-logo {
                img {
                    height: 50px;
                }
    
                .bandeau-logo-titre {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    header {
        .bandeau {
            div {
                flex-direction: column;

                .bandeau-logo {
                    flex-direction: row;
                }
            }
        }
    }  
}

@media screen and (max-width: 576px){
    header {
        .bandeau {
            .bandeau-logo {
                img {
                    height: 40px;
                }
    
                .bandeau-logo-titre {
                    font-size: 2.2rem;
                }
            }
        }
    } 
}