@import "../../styles/utils/utils";

footer {
    background-color:  $secondaryBgColorLight1;
    position: absolute;
    bottom: 0;
    width: 100%;

    
    .footer-bandeau {
        height: 100px;        
        color: white;

        .footer-logo {
            img {
                height: 60px;
                border-radius: 50%;
                border: 4px solid #d7d7e6;
                margin-right: 15px;
            }

            .footer-logo-titre {
                font-size: 3rem;
                color: #d7d7e6;
                
                span {
                    color: #5b5b86;
                }
            }
        }

        .footer-titre {
            color: white;
            font-size: 1.5rem;
            margin: 0;

            span {
                color: #d7d7e6;
            }
        }
    }    
}

@media screen and (max-width: 992px){
    footer {
        .footer-bandeau {
            .footer-logo {
                img {
                    height: 50px;
                }
    
                .footer-logo-titre {
                    font-size: 2.5rem;
                }
            }
    
            .footer-titre {
                font-size: 1.4rem;
            }
        }    
    }
}

@media screen and (max-width: 768px){
    footer {
        .footer-bandeau {
            .footer-logo {
                img {
                    height: 40px;
                }
    
                .footer-logo-titre {
                    font-size: 2.2rem;
                }
            }
    
            .footer-titre {
                font-size: 1.2rem;
            }
        }    
    }  
} 

@media screen and (max-width: 576px){
    footer {
        padding: 10px 0;
        .footer-bandeau {
            flex-direction: column;
        }
    } 
}