@import "../../styles/utils/utils";

.admin {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin-bottom: 40px;

    h1 {
        margin: 40px 0 20px;
        color: $secondaryFontColor;
        font-size: 3rem;
    }

    .admin-titre {
        font-size: 1rem;
        color: $baseFontColorLight2;
        background-color: $baseBgColorLight4;
        border: 1px solid $baseBgColorLight3;
        border-radius: 5px;
        padding: 5px 15px;
        margin-top: 40px;

        h2 {
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            margin: 10px 0;
            color: $baseFontColorLight1;
            font-size: 2rem;
        }
    }
    
    .admin-message {
        height: 40px;

        div {
            padding: 4px 20px;
            border-radius: 5px;;
            font-size: 0.9rem;
            font-style: italic;
            color: white;
        }
    }

    ////////////////////////////////
    // ZONE DE FILTRE
    ////////////////////////////////
    
    .admin-filter {
        font-size: 1rem;
        color: $baseFontColorLight2;
        padding: 0 15px;
        border-bottom: 2px solid $baseBgColorLight3;

        .admin-filter-nb {
            font-size: 1.1rem;
        }

        h5 {
            font-size: 1.5rem;
        }
        .btn-admin {
            img {
                height: 35px;
            }
        }

        .admin-filter-form {
            margin-top: 20px;

            label {
                margin: 2px 0;

                .label-libelle {
                    display: inline-block;
                    width: 25%;
                }

                select, input {
                    width: 70%;
                    font-size: 0.9rem;
                }
            }

            .form-buttons {
                margin-top: 20px;
                text-align: center;

                div {
                    margin: 10px 0;
                }
            }
        }
    }

    ////////////////////////////////
    // LISTE DES RESULATTS
    ////////////////////////////////

    .admin-no-result {
        height: 300px;
        color: $baseFontColorLight2;
        font-size: 1.5rem;
    }
    
    .admin-row {
        font-size: 1rem;
        color: $baseFontColorLight2;
        padding: 15px 0;
        margin: 4px 0;
        border-bottom: 1px solid $baseBgColorLight3;

        div {
            display: flex;
            align-items: center;
        }

        .admin-row-title {
            font-size: 1.2rem;
            color: $baseFontColorLight1;
        }

        .admin-row-img {
            width: 40%;
            height: 100%;
            border: 2px solid white;
            box-shadow: 5px 5px 10px #82829c;
            background-size: cover;
            background-position: center;            
        }

        // &:hover {
        //     background-color: #efeff3;
        // }
    }

    ////////////////////////////////
    // CREATION & MODIFICATION
    ////////////////////////////////
    
    .admin-alter {
        margin-top: 0;

        .admin-alter-separator-top {
            margin: 0 0 10px;
            border-top: 1px solid $baseBgColorLight3;
        }
            
        .admin-alter-separator-bottom {
            margin: 10px 0 40px;
            border-bottom: 1px solid $baseBgColorLight3;
        }

        .admin-alter-cellule {
            margin: 10px 0;

            label {
                // margin: 2px 0;
                width: 100%;

                .label-libelle {
                    color: $baseFontColorLight2;
                }

                select, input, textarea {
                    width: 100%;
                    padding: 2px 4px;
                    font-size: 0.9rem;
                    color: $baseFontColorLight1;
                    background-color: $baseBgColorLight5;
                    border: 1px solid $baseBgColorLight3;
                }

                textarea {
                    height: 200px;
                }

                .admin-alter-img {
                    width: 100%;
                    height: 200px;
                    border: 5px solid white;
                    box-shadow: 5px 5px 10px #82829c;
                    background-size: cover;
                    background-position: center;
                }
            }            
        }

        .form-buttons {
            margin-top: 20px;
            text-align: center;

            div {
                margin: 10px 0;
            }
        }
    }
}