@import "../../styles/utils/utils";

.admin {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin-bottom: 40px;

    h1 {
        margin: 40px 0;
        color: $secondaryFontColor;
        font-size: 3rem;
    }

    .admin-titre {
       font-size: 1rem;
        color: $baseFontColorLight2;
        background-color: $baseBgColorLight4;
        border: 1px solid $baseBgColorLight3;
        border-radius: 5px;
        padding: 5px 15px;

        h2 {
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            margin: 15px 0;
            color: $baseFontColorLight1;
            font-size: 2rem;
        }
    }
    
    .admin-filtre {
        font-size: 1rem;
        color: $baseFontColorLight2;
        padding: 0 15px;
        margin-top: 40px;
        border-bottom: 2px solid $baseBgColorLight3;

        .admin-filtre-nb {
            font-size: 1.1rem;
        }

        .btn-admin {
            img {
                height: 35px;;
            }
        }
    }

    .admin-row {
        font-size: 1rem;
        color: $baseFontColorLight2;
        padding: 15px 0;
        margin: 4px 0;
        border-bottom: 1px solid $baseBgColorLight3;
        // background-color: lightgrey;

        div {
            display: flex;
            align-items: center;
        }

        .admin-row-title {
            font-size: 1.2rem;
            color: $baseFontColorLight1;
        }
    }
}