@import "../../styles/utils/utils";

.menu {
    height: 60px;
    padding: 3px 0;
    box-shadow: 0 3px 6px $shadow;
    background-color: $menuBgColor;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    .menu-navbar {
        font-size: 1.5rem;
        padding: 0;

        .menu-link {
            color: $baseFontColorLight1;
            transition: all 0.4s ease-out;
            padding-right: 10px;
        }

        .menu-link-dropdown {
            font-size: 1.2rem;
        }

        .menu-link-button {
            border: 0 solid grey;
        }

        .menu-link:hover {
            color:$secondaryFontColor
        }
        
        .actif {
            color:$secondaryFontColor
        }
    }

    .menu-logout {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        font-size: 1.1rem;
        color: $baseFontColorLight2;
        
        .btn-connect {
            border: 0 solid white;
        }
    }
}    
