@import "../../styles/utils/utils";

.menu {
    box-shadow: 0 3px 6px $shadow1;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    .menu-div {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .menu-navbar {
            font-size: 1.5rem;
            padding: 0;

            .menu-link {
                color: $baseFontDark2;
                background-color: white;
                transition: all 0.4s ease-out;
                padding: 10px;
                border: 0px;
                @media screen and (max-width: 992px){
                    padding: 5px 10px;
                }
            }

            .menu-link-dropdown {
                color: $baseFontDark2;
                transition: all 0.4s ease-out;
                padding: 4px 10px;
            }

            .menu-link:hover, .menu-link-dropdown:hover {
                color: $secondaryFont1;
            }
            
            .actif {
                color: $secondaryFont2;
            }

            .navbar-toggler {
                &:focus {
                    box-shadow: 0 0 0 transparent;
                }

                @media screen and (max-width: 992px){
                    margin: 5px;
                }
            }

            .dropdown-menu {
                @media screen and (max-width: 992px){
                    margin-bottom: 5px;
                }
            }
        }

        .menu-login {
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            color: $baseFontDark2;
            font-size: 1.1rem;
            padding: 3px 5px 3px 3px;
            border-radius: 20px;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            transition: all 0.2s ease-out;

            .btn-login {
                background-image: url("../../assets/images/icones/login.png");
                background-size: cover;
                background-position: center;
                background-color: $baseBgMedium1;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                margin-right: 4px;
                transition: all 0.2s ease-out;
            }

            &:hover {
                color: $secondaryBgMedium1;

                .btn-login {
                    background-color: $secondaryBgMedium1;
                }
            } 
        }

        .menu-logout {
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            color: $baseFontDark1;
            font-size: 1.1rem;
            display: flex;
            flex-direction: row;
            transition: all 0.2s ease-out;
            
            .btn-logout {
                background-image: url("../../assets/images/icones/logout.png");
                background-size: cover;
                background-position: center;
                border: 0 solid $menuBtnBorderColor;
                background-color: $baseBgMedium1;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                margin-left: 6px;
                transition: all 0.2s ease-out;

                &:hover {
                    background-color: $secondaryBgMedium1;
                }                
            }
        }
    }
}    

